<launch>

  <!--激光雷达-->
  <include file="$(find delta_lidar)/launch/delta_driver.launch" />

  <!--运行stm32通信-->
  <node name="ibot_bringup" pkg="ibot_driver" type="ibot_bringup" output="screen" />

  <!--运行move_base-->
  <include file="$(find ibot_navigation)/launch/ibot_move.launch" />  

  <!--运行键盘控制-->
  <!--<include file="$(find ibot_teleop)/launch/ibot_keyboard.launch" />-->


 
</launch>